.markdown-source-view, .markdown-preview-view {
max-width: 1400px;
margin: auto;
}
body:not(.native-scrollbars) ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
/* Naked Embeds */
.markdown-embed-title { display:none; }
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content { max-height: unset;}
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0; }
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0; }

table{
    width: auto;
    display: table;
}

.grid span.image-embed[alt*="."],
span[alt*="grid"]{
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
}

img[alt*="grid"],
.grid img[alt*="."]{
    max-height: 30vh;
}

/* Floating Images */
img[alt*="left"] {
    float:left;
    clear:left;
    margin-right: 1rem;
    margin-bottom: 4px;
    margin-top: 4px;
}


img[alt*="right"] {
    float:right;
    clear:right;
    margin-left: 1rem;
    margin-bottom: 4px;
    margin-top: 4px;
}

img[alt*="center"],img[alt*="centre"] {
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;
    margin-top: 4px;
}