[workspace]

members = ["crates/desktop", "crates/promethea_core", "crates/server"]
default-members = ["crates/promethea_core", "crates/server"]
resolver = "2"

[workspace.lints.rust]
warnings = "deny"

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"
nursery = "warn"
cargo = "warn"
restriction = "warn"
correctness = "warn"
suspicious = "warn"
complexity = "warn"
perf = "warn"
style = "warn"
implicit_return = { level = "allow", priority = 1 }
question_mark_used = { level = "allow", priority = 1 }
