[workspace]

members = ["crates/desktop", "crates/promethea_core", "crates/server"]
default-members = ["crates/promethea_core", "crates/server"]
resolver = "2"

[workspace.lints.rust]
warnings = "deny"

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"
nursery = "warn"
cargo = "warn"
restriction = "warn"
correctness = "warn"
suspicious = "warn"
complexity = "warn"
perf = "warn"
style = "warn"
# allow values with no return and no ; to return
implicit_return = { level = "allow", priority = 1 }
# allow using ? to bubble up errors
question_mark_used = { level = "allow", priority = 1 }
# allow usage of restriction = "warn"
blanket_clippy_restriction_lints = { level = "allow", priority = 1 }
# allow functions that are only called once
single_call_fn = { level = "allow", priority = 1 }
# allow multiple versions of same crate because this is not controllable for indirect dependencies
multiple_crate_versions = { level = "allow", priority = 1 }
